In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv('Homo_sapiens_feature.tsv', sep = '\t')

In [5]:
df1

         GeneID chromosome Feature_type
0             1         19            -
1             2         12            -
2             3         12            -
3             9          8            -
4            10          8            -
...         ...        ...          ...
125464  8923215         MT            -
125465  8923216         MT            -
125466  8923217         MT            -
125467  8923218         MT            -
125468  8923219         MT            -

[125469 rows x 3 columns]

In [7]:
df2 = pd.read_csv('all_gene_mapping_2.tsv', sep = '\t', low_memory=False)

In [8]:
df2

,chr#,GeneID,Symbol,EnsemblID,HGNCID,MIM Number,UniprotAC,UniprotID,type_of_gene
0,1,24,ABCA4,ENSG00000198691,34.0,601691.0,P78363,ABCA4,protein-coding
1,1,27,ABL2,ENSG00000143322,77.0,164690.0,P42684,ABL2,protein-coding
2,1,34,ACADM,ENSG00000117054,89.0,607008.0,P11310,ACADM,protein-coding
3,1,58,ACTA1,ENSG00000143632,129.0,102610.0,P68133,ACTS,protein-coding
4,1,78,ACTG1P6,NaN,151.0,NaN,NaN,NaN,pseudo
...,...,...,...,...,...,...,...,...,...
125026,Y,127739541,LOC127739541,NaN,NaN,NaN,NaN,NaN,biological-region
125027,Y,127739542,LOC127739542,NaN,NaN,NaN,NaN,NaN,biological-region
125028,Y,127739543,LOC127739543,NaN,NaN,NaN,NaN,NaN,biological-region
125029,Y,127739544,LOC127739544,NaN,NaN,NaN,NaN,NaN,biological-region
125030,Y,127739545,LOC127739545,NaN,NaN,NaN,NaN,NaN,biological-region

In [9]:
merge = pd.merge(left = df2, right = df1, how = 'left', on ='GeneID')

In [11]:
merge.to_csv('human_gene_feature.tsv', index = False, sep = '\t')

In [12]:
df3 = pd.read_csv('temp.tsv', sep = '\t')

In [17]:
df3

             type_of_gene         Feature_type
0          protein-coding                    -
1          protein-coding                    -
2          protein-coding                    -
3          protein-coding                    -
4                  pseudo                    -
...                   ...                  ...
125026  biological-region  regulatory:enhancer
125027  biological-region  regulatory:enhancer
125028  biological-region  regulatory:enhancer
125029  biological-region  regulatory:enhancer
125030  biological-region  regulatory:enhancer

[125031 rows x 2 columns]

In [14]:
pc = df3[df3['type_of_gene'] == 'biological-region']

In [16]:
pc.to_csv('biological_region_feature.tsv', index = False, sep = '\t')

In [19]:
df4 = pd.read_csv('human_gene_feature.tsv', sep = '\t', low_memory=False)

In [23]:
df4[df4['type_of_gene'] == 'biological-region'].to_csv('biological_region_feature_mapping.tsv', index = False, sep = '\t')

In [24]:
df5 = pd.read_csv('biological_region_feature_mapping.tsv', sep = '\t')
df6 = pd.read_csv('temp3.tsv', sep = '\t')

In [27]:
result = pd.concat([df5,df6],axis=1)

In [28]:
result

,chr#,GeneID,Symbol,EnsemblID,HGNCID,MIM Number,UniprotAC,UniprotID,type_of_gene,chromosome,...,FIELD2,FIELD3,FIELD4,FIELD5,FIELD6,FIELD7,FIELD8,FIELD9,FIELD10,FIELD11
0,1,106501712,LOC106501712,NaN,NaN,NaN,NaN,NaN,biological-region,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,106501713,LOC106501713,NaN,NaN,NaN,NaN,NaN,biological-region,1,...,misc_recomb:meiotic,misc_recomb:non_allelic_homologous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,106627981,LOC106627981,NaN,NaN,NaN,NaN,NaN,biological-region,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,106627982,LOC106627982,NaN,NaN,NaN,NaN,NaN,biological-region,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,106783496,LOC106783496,NaN,NaN,NaN,NaN,NaN,biological-region,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60022,Y,127739541,LOC127739541,NaN,NaN,NaN,NaN,NaN,biological-region,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60023,Y,127739542,LOC127739542,NaN,NaN,NaN,NaN,NaN,biological-region,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60024,Y,127739543,LOC127739543,NaN,NaN,NaN,NaN,NaN,biological-region,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60025,Y,127739544,LOC127739544,NaN,NaN,NaN,NaN,NaN,biological-region,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60026,Y,127739545,LOC127739545,NaN,NaN,NaN,NaN,NaN,biological-region,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
result.drop('chromosome', axis = 1).to_csv('feature_result.tsv', index = False, sep = '\t')

In [33]:
df7 = pd.read_csv('feature_result.tsv', sep = '\t', low_memory=False)

,chr#,GeneID,Symbol,EnsemblID,HGNCID,MIM Number,UniprotAC,UniprotID,type_of_gene,Feature_type,...,FIELD2,FIELD3,FIELD4,FIELD5,FIELD6,FIELD7,FIELD8,FIELD9,FIELD10,FIELD11
0,1,106501712,LOC106501712,NaN,NaN,NaN,NaN,NaN,biological-region,non_allelic_homologous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,106501713,LOC106501713,NaN,NaN,NaN,NaN,NaN,biological-region,nucleotide_motif|meiotic|non_allelic_homologous,...,meiotic,non_allelic_homologous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,106627981,LOC106627981,NaN,NaN,NaN,NaN,NaN,biological-region,non_allelic_homologous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,106627982,LOC106627982,NaN,NaN,NaN,NaN,NaN,biological-region,non_allelic_homologous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,106783496,LOC106783496,NaN,NaN,NaN,NaN,NaN,biological-region,enhancer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60022,Y,127739541,LOC127739541,NaN,NaN,NaN,NaN,NaN,biological-region,enhancer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60023,Y,127739542,LOC127739542,NaN,NaN,NaN,NaN,NaN,biological-region,enhancer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60024,Y,127739543,LOC127739543,NaN,NaN,NaN,NaN,NaN,biological-region,enhancer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60025,Y,127739544,LOC127739544,NaN,NaN,NaN,NaN,NaN,biological-region,enhancer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60026,Y,127739545,LOC127739545,NaN,NaN,NaN,NaN,NaN,biological-region,enhancer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN